body {
    background-image: url("./images/pattern-circles.svg"), url("./images/bg-pattern.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: center 5%, 0 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: hsla(226, 36%, 25%, 1);
    margin-bottom: 8px;
}

p {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    color: hsla(226, 20%, 60%, 1);
    margin-bottom: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: 8px;
    background-color: white;
    width: 87.2%;
    max-width: 540px;
    min-width: 325px;
}

form {
    margin: 24px 0 28px 0;
    display: flex;
    flex-direction: column;
}

.pageviews {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: hsla(226, 20%, 60%, 1);
    margin-bottom: 25px;
}

div {
    margin: 10px 0px;
}


.price {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: right;
    letter-spacing: -0.8px;
    color: hsla(226, 36%, 25%, 1);
}

#myinput {
    width: 85.84%;
    height: 8px;
    border-radius: 5px;
    align-self: center;
    background: linear-gradient(to right, #A4F3EB 0%, #A4F3EB 50%, #ECF0FB 50%, #ECF0FB 100%);
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    margin: 31px 0 30px 0;
}

input[type='range']::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
    background-color: hsla(174, 86%, 45%, 1);
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    background-image: url("./images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.month {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: hsla(226, 20%, 60%, 1);
}

.discount-container {
    width: 325px;
    margin-left: 3%;
}

.general-text {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: hsla(226, 20%, 60%, 1);
    padding-top: 2px;
    margin-right: 8px;
}

.discount {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: hsla(15, 100%, 70%, 1);
    padding: 4px 12px;
    border-radius: 9.5px;
    background-color: hsla(15, 90%, 95%, 1);
}

.discount-text {
    display: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: hsla(15, 100%, 70%, 1);
    padding: 4px 12px;
    border-radius: 9.5px;
    background-color: hsla(15, 90%, 95%, 1);
}

.line {
    width: 100%;
    height: 1px;
    max-width: 540px;
    background-color: hsla(224, 65%, 95%, 1);
    margin: 10px 0px 25px 0px;
}

li {
    margin-bottom: 13px;
}

i {
    color: hsla(174, 86%, 45%, 1);
    margin-right: 17px;
}

/*toggle input styles*/
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 22px;
    margin-right: 10px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(224, 49%, 87%, 1);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 15px;
}
  
.slider.round:before {
    border-radius: 50%;
}

button {
    all: unset;
    width: 170px;
    height: 41px;
    border-radius: 20.5px;
    background-color: hsla(227, 35%, 25%, 1);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: hsla(226, 100%, 87%, 1);
    margin-bottom: 32px;
}

input[type='range']::-webkit-slider-thumb:hover {
    background-color: hsla(174, 73%, 70%, 1);
    cursor: pointer;
}

.slider:hover {
    background-color: hsla(174, 73%, 70%, 1);
}

button:hover {
    background-color: hsla(227, 35%, 25%, 1);
    color: hsla(0, 0%, 100%, 1);
    cursor: pointer;
}

  @media only screen and (min-width: 600px) {
    .main-container {
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: unset;
    }

    form {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        flex-direction: unset;
    }
    
    #myinput {
        order: 3;
    }

    .price-container{
        order: 2;
    }

    .discount-container {
        order: 4;
    }

    .discount {
        display: none;
    }

    .discount-text{
        display: inline;
    }
  }

