body {
    background-image: url("./images/pattern-circles.svg"), url("./images/bg-pattern.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: center 50px, 0 -50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: hsla(226, 36%, 25%, 1);
    margin-bottom: 8px;
}

p {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 23px;
    text-align: center;
    color: hsla(226, 20%, 60%, 1);
    margin-bottom: 64px;
}

.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
    border-radius: 8px;
    background-color: white;
    width: 87.2%;
    max-width: 540px;
}

form {
    margin: 24px 0 38px 0;
}

.pageviews {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.71429px;
    text-transform: uppercase;
    color: hsla(226, 20%, 60%, 1);
    margin-bottom: 25px;
}

div {
    margin: 10px 0px;
}

.price {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: right;
    letter-spacing: -0.8px;
    color: hsla(226, 36%, 25%, 1);
}

.month {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: hsla(226, 20%, 60%, 1);
}

.general-text {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: hsla(226, 20%, 60%, 1);
}

.discount {
    display: none;
}

/*toggle input styles*/
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 22px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 15px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

